@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
div.outer{
    display: grid;
   padding:none;
   max-width: 1440px;
   min-width: 260px;
 margin:auto;
   
}
body{
    padding:none;
}
div.nav{
    display: flex;
    position: absolute;
    top:5%;
    right:4%;
    width:30%;
   justify-content: space-between;
   align-items: baseline;
}
#contact{
    background-color: white;
    padding: 1em 2em;
    border-radius: 25px;
    color:black;
    font-family: 'Fraunces', serif;
}
.links{
    text-decoration: none;
    color:white;
    font-family: 'Barlow', sans-serif;
}
div.pic{
    padding:none;
    margin:none;
    width:100%;
    position: relative;
}
.logo{
    position: absolute;
    top:5%;
    left:3%;
    width: 11%;
}
.head{
    position: absolute;
    top:24%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4em;
    text-align: center;
    font-family: 'Fraunces', serif; 
}
.arrow{
    position: absolute;
    top:52%;
    left:50%;
    transform: translate(-50%, -50%);
}
div.text{
margin: auto;
}
div.two{
    display: flex;
    grid-auto-flow: column;
    padding:none;
    margin:none;
}
p.tone{
    font-family: 'Fraunces', serif; 
    font-size: 2.5em;  
    padding: 0em 4em;
}
p.ttwo{
    font-family: 'Barlow', sans-serif;   
    padding: 0em 10em;
    color: hsl(232, 10%, 55%);
}
a.tthree{
    font-family: 'Fraunces', serif; 
    padding: 0em 10em;
    text-decoration: none;
}
.img-text{
    position:relative;
    text-align: center;
}
p.img-text-one-one{
    text-align: center;
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Fraunces', serif; 
    color: hsl(167, 40%, 24%);
    font-size: 1.75em;
}
p.img-text-one-two{
    text-align: center;
    position: absolute;
    top:75%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Barlow', sans-serif;
    color: hsl(167, 40%, 24%);
}
p.img-text-two-one{
    text-align: center;
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Fraunces', serif; 
    color: hsl(198, 62%, 26%);
    font-size: 1.75em;
}
p.img-text-two-two{
    text-align: center;
    position: absolute;
    top:75%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Barlow', sans-serif;
    color: hsl(198, 62%, 26%);
}
div.ctext{
    text-align: center;
}
p.ctextp{
    font-family: 'Fraunces', serif; 
    font-size: 1.75em;
    color: hsl(210, 4%, 67%);
}
p.ctextp-one{
    color: hsl(213, 9%, 39%);
    font-family: 'Barlow', sans-serif;
}
p.ctextp-two{
    font-family: 'Fraunces', serif;
    padding: 1em;
}
p.ctextp-three{
    color:hsl(210, 4%, 67%);
    font-family: 'Barlow', sans-serif;
}
div.clients{
    display: flex;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 4em;
    text-align: center;
}
img.cimage{
    border-radius: 50%;
}
div.four{
    display: flex;
    grid-auto-flow: column;
    padding:none;
}
div.fabout{
    display: flex;
    justify-content: space-around;
    padding:2em;
    padding-left: 10em;
    padding-right: 10em;
    margin:auto;
    width:20%;
}
.links-two{
    text-decoration: none;
    color:hsl(168, 34%, 41%);
    font-family: 'Barlow', sans-serif;
}
#name{
    font-family: 'Barlow', sans-serif;
    font-size: 1.75em;
    color:hsl(167, 39%, 28%);
}
div.five{
    text-align: center;
    background-color:hsl(168, 63%, 75%)
}
#menu{
    display:none;
}
@media screen and (min-width: 260px) and (max-width: 1439px){
    div.two{
        display: flex;
        flex-direction: column;
        padding:none;
        width:100%;
        text-align: center;
    }
    #twoone{
        flex-direction: column-reverse;
    }
    div.four{
        display: flex;
        grid-auto-flow: column;
        padding:none;
        flex-wrap: wrap;
    }
    div.four-one{
        flex:50%;
    }
    div.four-two{
        flex:50%;
    }
    div.four-three{
        flex:50%;
    }
    div.four-four{
        flex:50%;
    }
    div.clients{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    .logo{
        position: absolute;
        top:5%;
        left:5%;
        width: 30%;
    }
    div.nav{
        display:none;
    }
    .arrow{
        position: absolute;
        top:66%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    .head{
        position: absolute;
        top:32%;
        left:50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 4em;
        text-align: center;
    }
    p.tone{
        font-family: 'Fraunces', serif; 
        font-size: 2.5em;  
        padding: 0em 1.75em;
        text-align: center;
    }
    p.ttwo{
        font-family: 'Barlow', sans-serif;   
        padding: 0em 2em;
        color: hsl(232, 10%, 55%);
        text-align: center;
        font-size: 1.2em;
    }
    a.tthree{
        font-family: 'Fraunces', serif; 
        text-decoration: none;
        text-align: center;
        margin:auto;
        padding: 0em;
      
    }
    p.img-text-one-one{
        text-align: center;
        position: absolute;
        top:60%;
        left:50%;
        transform: translate(-50%, -50%);
        font-family: 'Fraunces', serif; 
        color: hsl(167, 40%, 24%);
        font-size: 1.8em;
    }
    p.img-text-one-two{
        text-align: center;
        position: absolute;
        top:75%;
        left:50%;
        transform: translate(-50%, -50%);
        font-family: 'Barlow', sans-serif;
        color: hsl(167, 40%, 24%);
        font-size: 1em;
    }
    p.img-text-two-one{
        text-align: center;
        position: absolute;
        top:60%;
        left:50%;
        transform: translate(-50%, -50%);
        font-family: 'Fraunces', serif; 
        color: hsl(198, 62%, 26%);
        font-size: 1.8em;
    }
    p.img-text-two-two{
        text-align: center;
        position: absolute;
        top:75%;
        left:50%;
        transform: translate(-50%, -50%);
        font-family: 'Barlow', sans-serif;
        color: hsl(198, 62%, 26%);
    }
    div.fabout{
        display: flex;
        justify-content: space-evenly;
        margin:auto;
    }
    #menu{
        position: absolute;
    top:5%;
    right:4%;
    display: flex;
    }
}
