div.one {
  background-color: lightgrey;
  width: 300px;
  border: 20px solid midnightblue;
  padding: 35px;
  margin: 40px;
}
div.two {
  background-color: rgba(255, 0, 0, 0.3);
  width: 300px;
  padding: 55px;
  margin: 30px;
  border: 30px solid black;
}
